<div class="weui-tab">
  <div class="weui-tab__panel">

    <div class="weui-panel weui-panel_access" style="position:fixed;width:100%;padding:0px;height:60px;z-index:1">
      <div class="weui-panel__hd" style='overflow:hidden'>
        <span style='width:50%'>
          <img src="<%= image_path("new_log.jpg") %>" style="width:40px;padding-bottom:-10;margin-right:5px;">
          <span style="font-size:larger">商品列表</span>
          <span style="text-align:right;float:right;width:50%">
            可选 <span style='font-size:medium'><%= Member.find(session[:current_member_id]).membership.order_limit %></span>
          已选 <span style='font-size:medium' id='cart_total_amount'><%= @cart.total_amount %></span>
          </span>
        </span>
      </div>
    </div>

    <div class="weui-panel weui-panel_access" style="margin-top:60px">
      <div class="weui-panel__hd">
        <span style="color:red"> 温馨提示</span>：商品选好后请在购物车中提交。
      </div>

      <div class="weui-panel__bd">
        <% @products.each do |product| %>
          <div class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <%= image_tag(product.photo_url(:thumb), class: 'weui-media-box__thumb') %>
            </div>

            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title"><%=product.name%></h4>
              <div class="weui-media-box__desc">
                <p>每单可选：<%=product.limit.to_s%>份</p>
                <span>购物车已选：
                </span>
                <span style='float:right'>
                  <%= form_tag '/weixin/cart/remove_item', remote: true,method: :post,  style: "display: inline-block;" do %>
                    <%= hidden_field_tag 'product_id', product.id %>
                    <%= button_tag name: "remove_to_cart" ,class: 'weui-btn weui-btn_mini weui-btn_default' ,style:"font-size:medium" do %>
                      -
                    <% end %>
                  <%end%>

                  <input id='product_input_<%=product.id%>' style='border:0;text-align:center;width:20px;font-size:small' type='text'  value='<%= @cart.product_amount(product)%>'/>
                  <%= form_tag '/weixin/cart/add_item', remote: true,method: :post,  style: "display: inline-block;" do %>
                    <%= hidden_field_tag 'product_id', product.id %>
                    <% if @cart.amount_of_product(product.id) >= product.limit %>
                    <%= button_tag name: "add_to_cart",id:"add_btn_#{product.id}", disabled:true,class: 'weui-btn weui-btn_mini weui-btn_default' ,style:"font-size:medium" do %>.<% end %>
                      <% else %>
                    <%= button_tag name: "add_to_cart",id:"add_btn_#{product.id}", class: 'weui-btn weui-btn_mini weui-btn_default',style:"font-size:medium" do %>+<% end %>
                    <% end %>
                  <%end%>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="loadingToast"  style="display:none;">
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
    <i class="weui-loading weui-icon_toast"></i>
    <p class="weui-toast__content">加载中</p>
  </div>
</div>



<% content_for(:page_javascript) do %>
<script type="text/javascript">

var btns = document.getElementsByClassName("weui-btn");
for(i=0; i<btns.length; i++){
  btns[i].onclick = function(evt){
    document.getElementById("loadingToast").style=''
};

}


</script>
<%end%>
