
<div class="weui-tab">
  <div class="weui-tab__panel">

    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">商品列表</div>

      <div class="weui-panel__bd">
        <div class="">
          <%= image_tag(@product.photo_url, display: 'block', height: 'auto', width: '100%') %>
        </div>
        <p><%=@product.name%></p>
        <p style="color: #333;"><%=@product.desc%></p>
        <span class="pro-price">
          <span class="price-info">
            <em class="price-yen">¥</em><em class="price-int"><%= @product.price_int %></em><em class="price-decimal">.<%=@product.price_cent %></em>
          </span>
          <%= icon('bullhorn','热销', class: 'price-tags') if @product.hot? %>
          <%= icon('bullhorn','新品', class: 'price-tags') if @product.fresh? %>
        </span>
      </div>
    </div>
  </div>

  <div class="weui-tab__panel">
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">送货</div>
      <div class="weui-panel__ft">操作</div>
    </div>
  </div>
</div>
