<%- model_class = Lineitem -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:order_id) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @order.lineitems.each do |lineitem| %>
      <tr>
        <td><%=  lineitem.id%></td>
        <td><%= lineitem.product.name %></td>
        <td><%= lineitem.amount %></td>
        <td><%= lineitem.order_id %></td>
        <td><%= lineitem.price %></td>
        <td><%= lineitem.description %></td>
        <td><%=l lineitem.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_admin_lineitem_path(lineitem),
                       remote: true,
                        :class => 'btn btn-default btn-xs' %>


          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      [:admin,lineitem],
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

