<div class="sales-wrapper">
  <div class="sales-list">
  <% @products.each do |product| %>
    <a id="<%='produt-'+product.id.to_s%>" href="<%= product_path(product.id) %>" class="sales-item <%=product.status%>">
      <div class="sales-inner">
        <span class="sales-img">
          <%= image_tag(product.photo_url) %>
        </span>
        <span class="pro-desc"><%= product.desc %></span>
        <span class="pro-price">
          <span class="price-info">
            <em class="price-yen">¥</em><em class="price-int"><%= product.price_int %></em><em class="price-decimal"><%= '.'+product.price_cent %></em>
          </span>
         <%= icon('bullhorn','热销', class: 'price-tags') if product.hot? %>
         <%= icon('bullhorn','新品', class: 'price-tags') if product.fresh? %>
        </span>
        <span class="pro-price-sams">
        </span>
      </div>
    </a>
  <% end %>
    </div>
  <div class="loading-more">
    <div class="loading-no">商品就这些了～</div>
  </div>
</div>
