<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
<%= render :partial => 'lineitems' %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newLineitem">
  <%= t("helpers.links.new")%><%=Lineitem.model_name.human %>
</button>

<%= content_for :page_modal do %>
   <!-- Modal -->
  <div class="modal fade" id="newLineitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= render "create_lineitem_modal" %>
  </div>
<% end %>
