<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @order.member_id %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @order.memo %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @order.feedback %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @order.stars %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
