<div class="page__hd">
  <% if flash[:notice] %>
    <div id='notice' >
      <div class="weui-mask"></div>
      <div class="weui-dialog">
        <div class="weui-dialog__bd"><%=flash[:notice]%></div>
        <div class="weui-dialog__ft">
          <a href="#" onclick="document.getElementById('notice').style.display='none';" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class='page__bd'>
  <div class="weui-cells__title"> 欢迎登录新聚点会员选菜系统！</div>
  <div class='weui-cells weui-cells_form'>
    <%= simple_form_for @member, url: weixin_register_path, defaults:{wrapper_html: { class: 'weui-cell' }, input_html:{class: 'weui-cell__bd weui-input'}, label_html:{class: 'weui-cell__hd, weui-label'}}  do |f| %>
      <%= f.input :membership_card_number %>
      <%= f.input :mobile%>
      <%= f.input :wxcode, as: :hidden , input_html:{value: session[:un_registered_openid]}%>
  </div>
  <div class='weui-btn-area'>
    <%= f.button :submit,'关联微信号', :class => 'weui-btn weui-btn_primary' %>
  </div>
</div>
<% end %>
<div class="page__bd page__bd_spacing">
  <div class="weui-footer">
    <p class="weui-footer__text">Copyright © 2016 北京新聚点农业有限公司</p>
  </div>
</div>
