
<div class="weui-panel">
  <div class="weui-panel__hd"> 我的个人信息: </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_text">
      <h5 class="weui-media-box__title"><span class="np-inline-title-text"> 姓名：</span><%= @member.name %> </h5>
      <h5 class="weui-media-box__title"><span class="np-inline-title-text">会员卡号：</span><%= @member.membership_card_number%> </h5>
        <h5 class="weui-media-box__title"><span class="np-inline-title-text">会员卡类型：</span><%= @member.membership.name %> </h5>
      <h5 class="weui-media-box__title"><span class="np-inline-title-text">手机号：</span><%= @member.mobile %> </h5>
      <h5 class="weui-media-box__title"><span class="np-inline-title-text">有效期开始日期：</span><%=l @member.validate_from %></h5>
      <h5 class="weui-media-box__title"><span class="np-inline-title-text">有效期结束日期：</span><%=l @member.validate_to %> </h5>
      <h5  class="weui-media-box__title"><span class="np-inline-title-text">可下单总次数：</span><%= @member.total_count %> </h5>
      <h5 class="weui-media-box__title"><span class="np-inline-title-text">还可以下单次数：</span><%= @member.remaining_count  %> </h5>
      <h5 class="weui-media-box__title"><span class="np-inline-title-text">已经下单次数：</span><%= @member.used_count %> </h5>
      <h5 class="weui-media-box__title"><span class="np-inline-title-text">默认收货人：</span><%= @member.default_ship_reciever%> </h5>
      <h5 class="weui-media-box__title"><span class="np-inline-title-text">默认收货手机号： </span><%= @member.default_ship_mobile%> </h5>
      <h5 class="weui-media-box__title"><span class="np-inline-title-text">默认收货地址：</span><%= @member.default_ship_address%> </h5>

    </div>
  </div>
</div>

