
<div class="weui-panel">
  <div class="weui-panel__hd"> 我的个人信息: </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_text">
      <h5 class="weui-media-box__title">姓名：<%= @member.name %> </h5>
      <h5 class="weui-media-box__title">手机号：<%= @member.mobile %> </h5>
      <h5 class="weui-media-box__title">有效期：<%=l @member.validate_from %></h5>
      <h5 class="weui-media-box__title">有效期到：<%=l @member.validate_to %> </h5>
      <h5 class="weui-media-box__title">默认收货人：<%= @member.default_ship_reciever%> </h5>
      <h5 class="weui-media-box__title">默认收货手机号： <%= @member.default_ship_mobile%> </h5>
      <h5 class="weui-media-box__title">默认收货地址：<%= @member.default_ship_address%> </h5>

    </div>
  </div>
</div>

