<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>北京新焦点农业</title>
    <%= stylesheet_link_tag 'weui-rails', media: 'all' %>
    <script src="http://cdnjs.gtimg.com/cdnjs/libs/zepto/1.1.4/zepto.min.js"></script>
    <%= javascript_include_tag "shop" %>
  </head>
  <body ontouchstart >
    <div class='container' style="background-color: #eeeeee;">
      <div class="page__hd">
        <% if flash[:notice] %>
      <div id='notice' >
        <div class="weui-mask"></div>
        <div class="weui-dialog">
          <div class="weui-dialog__bd"><%=flash[:notice]%></div>
          <div class="weui-dialog__ft">
            <a href="#" onclick="document.getElementById('notice').style.display='none';" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
          </div>
        </div>
      </div>
    <% end %>
      </div>

      <div class="page__bd" style="padding-bottom:25%">
        <%=yield %>
      </div>

      <div class="page__ft">
        <div class="weui-tab">
          <div class="weui-tabbar" style="position:fixed;">
            <a href="<%=root_path%>" class="weui-tabbar__item <%="weui-bar__item_on" if request.url.match('weixin/prod') || !request.url.match('weixin/') %>">
              <p class='weui-tabbar__icon'><%= icon('shopping-bag') %></p>
              <p class="weui-tabbar__label">商店</p>
            </a>
            <a href="<%=weixin_cart_path%>" class="weui-tabbar__item <%="weui-bar__item_on" if request.url.match('weixin/cart')%>">
              <p class='weui-tabbar__icon'><%= icon('shopping-cart') %></p>
              <p class="weui-tabbar__label">购物车</p>
            </a>
            <a href="<%=weixin_orders_path%>" class="weui-tabbar__item  <%="weui-bar__item_on" if request.url.match('weixin/orders')%>">
              <p class='weui-tabbar__icon'><%= icon('list-ul') %></p>
              <p class="weui-tabbar__label">订单</p>
            </a>
            <a href="<%=weixin_my_info_path%>" class="weui-tabbar__item <%="weui-bar__item_on" if request.url.match('weixin/my_info')%>">
              <p class='weui-tabbar__icon'><%= icon('user') %></p>
              <p class="weui-tabbar__label">我</p>
            </a>
          </div>
        </div>

      </div>
    </div>
    <%= yield(:page_javascript) if content_for?(:page_javascript) %>
  </body>
</html>
