<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>北京新聚点农产品</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <%= stylesheet_link_tag "shop"%>
    <%= javascript_include_tag "shop" %>
  </head>

  <body>
    	<header class="mui-bar mui-bar-nav">
      <div>
        <div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-negative">
          <a id='a-product-all' class="mui-control-item mui-active" href="#">
            全部商品
          </a>
          <a id='a-product-hot' class="mui-control-item" href="#">
            热销商品
          </a>
          <a id='a-product-fresh' class="mui-control-item" href="#">
            新品上市
          </a>
        </div>

		</header>

    <nav class="mui-bar mui-bar-tab">
      <a class="mui-tab-item mui-active" href=<%= weixin_shop_path %>>
        <%=icon('home', class: 'mui-icon')%>
        <span class="mui-tab-label">首页</span>
      </a>
      <a class="mui-tab-item" href="barItem/wishList.html">
        <%=icon('heart', class: 'mui-icon')%>
        <span class="mui-tab-label">心愿单</span>
      </a>
      <a class="mui-tab-item" href="barItem/cart.html">
        <%=icon('cart-plus', class: 'mui-icon')%>
        <span class="mui-tab-label">购物车</span>
      </a>
      <a class="mui-tab-item" href="barItem/mine.html">
        <%=icon('user', class: 'mui-icon')%>
        <span class="mui-tab-label">我的</span>
      </a>
    </nav>

    <div class="mui-content">

<%= yield %>
  </div>


    <script type="text/javascript">
mui.init()
document.getElementById('a-product-fresh').onclick = function(evt){
  show_products('fresh');
};

  document.getElementById('a-product-hot').onclick = function(evt){show_products('hot')};
  document.getElementById('a-product-all').onclick = function(evt){show_products('all')};

function show_products(type){
    var list = document.getElementsByClassName("sales-item");
    for(i=0; i<list.length; i++ ){
      if (type != 'all' && !list[i].classList.contains(type)) {
        list[i].style.display = 'none';
      }else{
        list[i].style.display = '';
      }
    }
  }

    </script>
  </body>
</html>

